   body {
       font-family: Arial, sans-serif;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #f4f4f4;
   }

   .payment-container {
       background: #fff;
       padding: 20px;
       border-radius: 10px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: 300px;
       text-align: center;
       justify-items: center;
       justify-content: center;
       justify-self: center;
       margin-top: 5%;
   }

   .card-icons {
       display: flex;
       justify-content: center;
       gap: 10px;
       margin-bottom: 15px;
   }

   .card-icons img {
       width: 50px;
       height: auto;
   }

   input,
   button {
       width: 100%;
       padding: 10px;
       margin: 10px 0;
       border: 1px solid #ccc;
       border-radius: 5px;
   }

   .input-container {
       position: relative;
       width: 100%;
   }

   .input-container input {
       width: 100%;
       padding-right: 40px;
       /* space for icon */
   }

   .input-container .copy-btn {
       position: absolute;
       right: 10px;
       top: 50%;
       transform: translateY(-50%);
       cursor: pointer;
       font-size: 18px;
       color: #555;
   }

   .btn {
       background-color: #24d06b;
       color: white;
       border: none;
       width: 100%;
       padding: 10px;
       border-radius: 5px;
       font-size: 1em;
   }

   .btn:hover {
       background-color: #1fa85a;
   }

   .requires {
       text-align: left;
       margin-bottom: 15px;
   }

   .dont {
       text-align: left;
       margin-top: 15px;
       font-size: 0.9em;
       color: white;
       background-color: rgba(255, 6, 6, 0.256);
       padding: 8px;
         border-radius: 5px;
         border: 1px solid red;
   }