        .container-fluid {
            background-color: #24d06b;
            color: white;
            /* for good contrast */
        }

        i {
            margin-top: 3%;
            color: red;
            font-size: 8em;
        }

        .btn {
            background-color: #24d06b;
            color: white;
            border: none;
            width: 40%;
            padding: 6px 5px;
            border-radius: 5px;
            font-size: 1em;
        }
        .btn:hover {
            background-color: #1fa85a;
            color: white;
  }

