        .container-fluid {
            background-color: #24d06b;
            color: white;
            /* for good contrast */
        }

        section .btn {
            margin-top: 20px;
            background-color: #24d06b;
            color: white;
            border: none;
            width: 30%;
        }

        section .btn:hover {
            background-color: #1fa85a;
            color: white;
        }

        .list-group {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }

        .list-group-item {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 15px 20px;
            border: none;
            border-bottom: 1px solid #eee;
        }
        .mrnacos {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .vote {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .category{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 75%;

        }
         option{
            padding: 10px;
            font-size: 16px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 15px 20px;
            border: none;
            border-bottom: 1px solid #eee;
            width: 75%;
        }
        .vote .btn{
            width: 50%;
            margin-top: 20px;
            background-color: #24d06b;
            color: white;
            border: none;
        }